body {
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  background-color: rgb(242, 242, 242);
}
html {
  overflow-y: scroll;
}
/* HEADERSECTION START */
.header {
  display: flex;
  min-width: 500px;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  margin-bottom: 40px;
  background-color: rgb(75, 119, 190);
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
}
.headerTitle {
  font-family: 'Encode Sans Expanded', sans-serif;
  color: white;
}
.menuButton img {
  width: 40px;
  height: 40px;
}
/* HEADERSECTION END */

/*MAINSECTION START */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.section {
}

.card {
  width: 50%;
  max-width: 1000px;
  min-width: 700px;
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
  color: #777;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  border-top: rgb(75, 119, 190) solid 5px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
}

.cardHeader {
  font-size: 20px;
  color: #222;
  width: 100%;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

.cardContent {
  display: flex;
  flex-wrap: wrap;
}

.cardContent img {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  width: 55%;
  height: 55%;
  margin-right: 5%;
}

.details {
  font-size: 15px;
  color: rgb(108, 122, 137);
  font-family: 'Cutive Mono', monospace;
  margin-left: 5px;
  margin-right: 5px;
}

.description {
  display: flex;
  justify-content: space-between;
}

.list li {
  margin-bottom: 7px;
}

.list h3,
.text h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
}
